<html>
<body>
<form action="u" method="post">
[% IF password_mismatch %]
<h1>Passwords do not match</h1>
[% END %]
Username: [% username %] <br />
Password: [% password %] <br />
Confirm password: [% password2 %] <br />
<input type="submit" />
</form>
</body>
</html>
