<html>
<body>
[% form %]
[% user_id %]
[% IF error %]
<h2>[% error %]</h2>
[% END %]
User name: [% name %] <br />
Old password: [% old_password %] <br />
New password: [% new_password %] <br />
New password confirm: [% new_password_confirm %] <br />
<input type="submit" />
</form>
</body>
</html>
